.about-me-profession {
  @include font(14px, 700, 17px, 0.03em);

  color        : $secondary-text-color;
  margin-bottom: 20px;
}

.about-me-profession {
  font-size  : 20px;
  font-weight: 700;
  color      : $secondary-text-color;
}

.about-me-name {
  font-style : normal;
  font-weight: bold;
  font-size  : 30px;
  line-height: 55px;
  color      : $secondary-text-color;
  text-align : justify;
}

.discription {
  @include font(14px, 400, 24px, 0.03em);
  font-style   : normal;
  color        : $primary-text-color;
  margin-bottom: 35px;
}