.about-me-profession {
  font-style   : normal;
  font-weight  : bold;
  font-size    : 14px;
  line-height  : 17px;
  color        : #000;
  margin-bottom: 20px;
}

.about-me-profession {
  font-size  : 14px;
  font-weight: 700;
  color      : black;
}

.about-me-name {
  font-style   : normal;
  font-weight  : bold;
  font-size    : 45px;
  line-height  : 55px;
  color        : #000;
  margin-bottom: 20px;
}

.discription {
  font-style   : normal;
  width        : 400px;
  font-weight  : normal;
  font-size    : 14px;
  line-height  : 24px;
  color        : #595959;
  margin-bottom: 35px;
}