.about-me-profession {
  @include font(14px, 700, 17px, 0.03em);

  color        : $secondary-text-color;
  margin-bottom: 20px;
}

.about-me-profession {
  font-size  : 14px;
  font-weight: 700;
  color      : $secondary-text-color;
}

.about-me-name {
  font-style   : normal;
  font-weight  : bold;
  font-size    : 45px;
  line-height  : 55px;
  color        : $secondary-text-color;
  margin-bottom: 20px;
}

.discription {
  font-style   : normal;
  width        : 400px;
  font-weight  : normal;
  font-size    : 14px;
  line-height  : 24px;
  color        : $primary-text-color;
  margin-bottom: 35px;
}