.main-section {
  display       : flex;
  flex-direction: row-reverse;

  @media screen and (min-width: 768px) {
    padding: 30px, 25px, 30px;
  }

  @media screen and (min-width: $desktop) {
    padding: 30px, 50px, 30px;
  }

  box-shadow : 6px 6px 20px $secondary-text-color;
}