.main-content-section {
  padding: 50px 70px;
}

.maine-content-title {
  font-style   : normal;
  font-weight  : bold;
  font-size    : 22px;
  line-height  : 27px;
  color        : $secondary-text-color;
  margin-bottom: 10px;
}