.my-projects {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color      : $secondary-text-color;
  font-weight: bold;
}

.my-projects-link {
  color      : $primary-text-color;
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 24px;
}

.my-projects-text {
  color      : $primary-text-color;
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 24px;
  margin-left: 5px;
}

.my-projects-brakcet {
  font-style : normal;
  font-weight: bold;
  font-size  : 14px;
  line-height: 24px;
  color      : $secondary-text-color;
}