.my-work-experience-company {
  color: $hover-color;
}

.my-work-experience-position {
  font-style : normal;
  font-weight: bold;
  font-size  : 16px;
  line-height: 20px;
  margin     : 0 0 10px 0;
}

.my-work-time {
  font-style : normal;
  font-weight: normal;
  font-size  : 12px;
  line-height: 15px;
  color      : $tertiary-color;
  margin     : 0 0 10px 0;
}

.my-work-experience-divider {
  color: $secondary-text-color;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 24px;
  color      : $primary-text-color;
}

.my-work-experience-company-block {
  margin: 0 15px 0 0;
}