.my-work-experience {
  margin-bottom: 30px;
}

.my-work-experience-divider {
  color: $secondary-text-color;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 24px;
  color      : $primary-text-color;
}

.my-work-experience-company-block {
  margin: 0 15px 0 0;
}