.my-work-experience {
  margin-bottom: 30px;
}

.work__experience-company {
  font-style : normal;
  color      : $hover-color;
  font-weight: bold;
  font-size  : 16px;
  line-height: 20px;
  margin     : 0 0 5px 0;
}

.work__position {
  font-style : normal;
  color      : $secondary-text-color;
  font-weight: bold;
  font-size  : 16px;
  line-height: 20px;
  margin     : 0 0 5px 0;
}

.my-work-experience-divider {
  color: $secondary-text-color;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 24px;
  color      : $primary-text-color;
}

.work__experience-wrapper {
  margin: 0 15px 20px 0;
}