$primary-color       : #ffffff;
$background-color    : #f5f4fa;
$secondary-color     : #104b8a;
$tertiary-color      : #a8a8a8;
$primary-text-color  : #595959;
$sidebar-title       : #fe7b00;
$secondary-text-color: #000000;
$accent-color        : #53691a;
$hover-color         : #ff0000;
// $border-color:

// Animations
$transition-duration       : 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;